.about_wrapper {
    background: #f0f2f5;
}
.about {
    max-width: 880px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.about_section {
    background: #ffffff;
    border-radius: 10px;
    padding: 0 8px;
    display: grid;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #eee;
}
.about_menu {
}
.about_menu h3 {
    padding-left: 8px;
}
@media (min-width: 990px) {
    .about_section {
        grid-template-columns: 1fr 2fr;
    }
}
ul,
li {
    list-style: none;
    color: #65676b;
}
ul {
    padding: 0;
}
.about_section li {
    width: 97%;
    padding: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
}
.about_section li:hover {
    background-color: #eee;
}
li a {
    font-weight: 600;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-left: 8px;

    width: 100%;
}
a {
    text-decoration: none;
    color: #65676b;
}
.about_menu {
    border-right: 1px solid #ced0d4a6;
}

/*---helpers--*/
.active_about_link {
    background: #e7f3ff !important;
    color: #1876f2 !important;
}
.about_overview_filled {
    padding: 1rem;
}
.overview_menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add_about_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/Ds6Ru4z8jQw.png');
    background-position: 0px -83px;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.about-flexx {
    display: flex;
    align-items: center;
}
.about_flex {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1876f2;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 19px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.about-flex {
    display: flex;
    align-items: center;
    gap: 5px;
}
.about_flex:hover {
    text-decoration: underline;
}
.about_flex .add_about_icon {
    -webkit-filter: invert(39%) sepia(57%) saturate(200%) saturate(200%)
        saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
        hue-rotate(202deg) brightness(97%) contrast(96%);
}
.menu_about_wrapthatshot {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.privacyçimg {
    width: 17px;
    height: 17px;
    object-fit: contain;
}
.edit_privary_phone {
    margin-right: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0.7rem);
    cursor: pointer;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.edit_privary_phone:hover {
    background-color: #e4e6eb25;
}
.edit_phone_holder:hover {
    background-color: #c2c3c5a4;
}
.edit_phone_holder {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
    transform: translateY(0.3rem);
    cursor: pointer;
}
.edit_phone_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yG/r/fdBo_Bv7dpH.png');
    background-position: 0px -652px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.flexit {
    display: flex;
}
.workeduc_menu {
    display: flex;
    flex-direction: column;
}
.workeduc_menu h4 {
    font-weight: 600;
}
.about_places_menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    transform: translateY(-1.5rem);
}
.contact_menu_a {
    display: flex;
    flex-direction: column;
}
.contact_menu_a > div {
    margin-bottom: 1rem;
}
/*-------------Friends------->*/
.friends_section {
    margin-top: 1rem;
    background: #ffffff;
    border-radius: 10px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #eee;
    padding-bottom: 3rem;
}
.f_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.f_points {
    padding: 9px 17px;
    border-radius: 10px;
    background: #e4e6eb;
    cursor: pointer;
}
.f_menu {
    display: flex;
    column-gap: 15px;
}
.f_a {
    cursor: pointer;
    font-weight: 600;
    padding: 15px 20px;
    font-size: 14px;
    border-radius: 10px;
}

.f_a:hover {
    background: #e4e6eb8f;
}
.f_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 1rem;
}
@media (max-width: 968px) {
    .f_wrap {
        grid-template-columns: 1fr;
    }
}
.f_active {
    color: #1876f2;
    border-bottom: 3px solid #1876f2;
    cursor: pointer;
    font-weight: 600;
    padding: 15px 20px;
    font-size: 14px;
}
.f_card {
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
}
.f_card .img {
    width: 80px;
    object-fit: cover;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
}
.f_crad_col {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.f_crad_col span:first-of-type {
    font-weight: 600;
}
.f_crad_col span:last-of-type {
    color: #65676b;
    font-size: 14px;
}

@media (min-width: 1100px) {
    .f_popup {
        width: 310px;
    }
}

.f_33 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    top: 2.7rem;
    right: 1rem;
}
.f_33:hover {
    background: #e4e6ebb6;
}
.f_popup {
    position: absolute;
    right: 1rem;
    top: 5rem;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 8px 32px 0 rgba(111, 111, 111, 0.47);
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    width: 250px;
    z-index: 99;
    display: none;
}
.motalatbyad {
    width: 20px;
    height: 20px;
    background: #fff;
    position: absolute;
    top: -1rem;
    right: 0.3rem;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    box-shadow: 0 8px 32px 0 rgba(111, 111, 111, 0.47);
    -webkit-font-smoothing: antialiased;
}
.f_popup_area {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.f_popup_area img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}
.f_popup_area:hover {
    background-color: #e4e6eb;
}
.lkher {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yY/r/zV-ALry-68f.png');
    background-position: 0px -126px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
