.about_wrapper {
    background: #f0f2f5;
}
.about {
    max-width: 880px;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.about_section {
    background: #ffffff;
    border-radius: 10px;
    padding: 0 8px;
    display: grid;

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
    border: 1px solid #eee;
}
.about_menu {
}
.about_menu h3 {
    padding-left: 8px;
}
@media (min-width: 990px) {
    .about_section {
        grid-template-columns: 1fr 2fr;
    }
}
ul,
li {
    list-style: none;
    color: #65676b;
}
ul {
    padding: 0;
}
.about_section li {
    width: 97%;
    padding: 8px 0;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    display: flex;
}
.about_section li:hover {
    background-color: #eee;
}
li a {
    font-weight: 600;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding-left: 8px;

    width: 100%;
}
a {
    text-decoration: none;
    color: #65676b;
}
.about_menu {
    border-right: 1px solid #ced0d4a6;
}

/*---helpers--*/
.active_about_link {
    background: #e7f3ff !important;
    color: #1876f2 !important;
}
.about_overview_filled {
    padding: 1rem;
}
.overview_menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.add_about_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/Ds6Ru4z8jQw.png');
    background-position: 0px -83px;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.about-flexx {
    display: flex;
    align-items: center;
}
.about_flex {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1876f2;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 19px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.about-flex {
    display: flex;
    align-items: center;
    gap: 5px;
}
.about_flex:hover {
    text-decoration: underline;
}
.about_flex .add_about_icon {
    -webkit-filter: invert(39%) sepia(57%) saturate(200%) saturate(200%)
        saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)
        hue-rotate(202deg) brightness(97%) contrast(96%);
}
.menu_about_wrapthatshot {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.privacyçimg {
    width: 17px;
    height: 17px;
    object-fit: contain;
}
.edit_privary_phone {
    margin-right: 10px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(1.2rem);
    cursor: pointer;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.edit_privary_phone:hover {
    background-color: #e4e6eb25;
}
.edit_phone_holder:hover {
    background-color: #c2c3c5a4;
}
.edit_phone_holder {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
    transform: translateY(0.7rem);
    cursor: pointer;
}
.edit_phone_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yG/r/fdBo_Bv7dpH.png');
    background-position: 0px -652px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.flexit {
    display: flex;
}
.workeduc_menu {
    display: flex;
    flex-direction: column;
}
.workeduc_menu h4 {
    font-weight: 600;
}
.about_places_menu {
    display: flex;
    flex-direction: column;
    gap: 25px;
    transform: translateY(-1.5rem);
}
.contact_menu_a {
    display: flex;
    flex-direction: column;
}
.contact_menu_a > div {
    margin-bottom: 1rem;
}
