.call {
    background: #000;
    overflow-x: hidden;
}
.call_header {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    z-index: 1;
}
.call_actions {
    display: flex;
    gap: 25px;
    position: absolute;
    bottom: 1.5rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}
.call_actions button {
    border: none;
    outline: none;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: #666;
}
.call_actions button .svg_colored {
    fill: #fff;
}
.call_actions button .mute_video {
    fill: #fff;
}
.call_actions button .unmute_video {
    fill: #fff;
}
.call_btn {
}
.user_video {
    position: absolute;
    bottom: 5.5rem;
    right: 1rem;
    display: flex;
    align-items: center;
    transition: all 0.2s;
    border-radius: 10px;
    width: 370px;
    height: 200px;
    z-index: 1;
    overflow: hidden;
}
.show_user_video {
    display: none;
    width: 30px;
    height: 50px;
}
.user_video video {
    width: 370px;
    height: 200px;
    border-radius: 10px;
    -webkit-transform: translateZ(0);
}
.hide_user_video {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 6px;
    z-index: 99;
    width: 23px;
    height: 40px;
}
.chat_video {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.unmute_audio svg {
    fill: #111 !important;
}
.unmute_video svg {
    fill: #111 !important;
}
.chat_bg_bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI,
        Helvetica Neue, Helvetica, Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, #232526, #414345);
}
.called_image_mate {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
