.popup_chat {
    position: relative;
    height: 455px;
    max-height: calc(100vh - 60px - 24px);
    font-size: 0.9375rem;
    width: 328px;
    background: #fff;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.chat_header {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 11;
    user-select: none;
}
.left_popp {
    display: flex;
    align-items: center;
    padding: 8px 3px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.left_popp img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}
.left_popp:hover {
    background: #bcc0c45d;
}
.left_popp svg {
    margin-left: 4px;
}
.h_m_ic {
    height: 35px;
    width: 35px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.h_m_ic:hover {
    background: #bcc0c428;
}
.h_m_ic i {
    color: #1437ef;
}
.popup_chat_area {
    height: 350px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ar27_h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.ar27_h img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.h27_name {
    font-weight: 600;
    font-family: inherit;
    margin-top: 5px;
}
.h23_det {
    font-size: 12px;
    color: #65676b;
    margin-top: 2px;
}
.popu_char_a7em {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 2;
    background: #fff;
}

.m14_left {
    display: flex;
    align-items: center;
}
.m24_icon svg {
    fill: #00b2ff;
}
.m24_icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m24_icon:hover {
    background: #e4e6eb;
}
.messaging_popup {
    padding: 10px;
}
.mess_right {
    float: right;
    margin-right: 10px;
    clear: both;
    padding-bottom: 20px;
    position: relative;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.mess_left {
    float: flex;
    margin-right: 10px;
    clear: both;
    padding-bottom: 20px;
    position: relative;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mssssg {
    color: #fff;
    background: #00abfe;
    border-radius: 10px;
    padding: 5px 10px;
    word-break: break-all;
}
.mssssg1 {
    background: #e4e6eb;
    color: #111;
    border-radius: 10px;
    padding: 5px 10px;
    word-break: break-all;
}
.p45545_img {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5px;
}
.timeit {
    margin-top: 5px;
    position: absolute;
    bottom: 4px;
    left: 0rem;
    font-size: 10px;
    width: 70px;
}
.m14_right input {
    background: #f0f2f5;
    height: 35px;
    border-radius: 50px;
    padding-left: 10px;
    margin-left: 5px;
    border: none;
    outline: none;
}
.m14_right {
    position: relative;
}
.m14_right .emojionearea-button {
    transform: translateY(0) translateX(11rem) !important;
}
.m14_right .emojionearea-picker {
    transform: translateY(1rem) translateX(11rem) !important;
}
.m14_right .emojionearea-editor {
    background: red;
    transform: translateY(0) translateX(0rem) !important;
}
.not_seen {
    position: absolute;
    right: -10px;
    width: 10px;
}
.seen_message {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    object-fit: cover;
}
.active_now_wrap {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3px;
    bottom: 2px;
}
.active_dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #31a24c;
}
.active_now_text {
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    right: -15px;
}
.chat_popup_menu {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    height: 540px;
    width: 350px;
    padding: 15px;
    position: absolute;
    left: -360px;
    top: -6rem;
    display: none;
}
.chat_menu_a7a {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
.chat_menu_a7a:hover {
    background: #eee;
}
.messenger_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -307px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.get_icona {
    -webkit-filter: invert(30%);
    background-image: url('https://www.facebook.com/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -42px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.profile_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -895px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.color_icona {
    -webkit-filter: invert(30%);
    background-image: url('https://www.facebook.com/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -21px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.emoji_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -63px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.nickc_icona {
    -webkit-filter: invert(30%);
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -769px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.group_icona {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -105px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.not_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -349px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.ign_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -1084px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.block_icona {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -580px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.del_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -1063px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.wr_icona {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -559px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.line_br {
    width: 320px;
    height: 1px;
    padding: 0 10px;
    margin: 4px 0;
    background: #ced0d4;
}
.active_text {
    position: absolute;
    right: -70px;
    width: 70px;
    top: 3px;
    word-break: keep-all;
    font-size: 13px;
    color: #65676b;
}
.motalinho_jnab {
    width: 20px;
    height: 20px;
    position: absolute;
    right: -20px;
    top: 7rem;
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.chat_errors_container {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    padding-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    z-index: 2;
    background: #fff;
    display: none;
}
.unavailable_svg {
    cursor: not-allowed;
}
.preview_sender_bitch {
    background: #f0f2f5;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
    transform: translateY(10px);
    max-width: 235px;
}
.imginos_preview {
    display: flex;

    gap: 10px;
    padding: 0;
    max-width: 260px;
    height: 60px;
}
.imginos_preview img {
    width: 50px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.imginos_preview .img_pazdad {
    position: relative;
    width: 50px;
    height: 50px;
    transform: translateY(10px);
}
.overflowee {
    max-width: 250px;
    overflow-x: auto;
}

.remove_image_a7aton {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fff;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.remove_image_a7aton:hover {
    opacity: 0.8;
}
.msa7_dik_pic {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/5JVhSAHqR6r.png');
    background-position: -39px -126px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
}
.input_img_text {
    padding-top: 5px;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
}
.round_cuck {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.round_cuck i {
    font-size: 20px;
    color: #00b2ff;
}
.round_cuck:hover {
    background: rgba(207, 203, 203, 0.233);
}
.add_pc_i_more {
    border-radius: 10px;
    background: #d6d9de;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateY(10px);
    width: 50px;
    height: 50px;
    padding: 0 10px;
}
.a7atahona {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yU/r/FP_pQnfuqge.png');
    background-position: 0px -25px;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(10%);
}
.images_in_messages_1 {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.images_in_messages_1 .img {
    max-height: 200px;
    min-width: 150px;
    max-width: 180px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}
.images_in_messages_2 {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.images_in_messages_2 .img {
    height: 100px;
    width: 90px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.images_in_flex_2 {
    display: flex;
    align-items: center;
    gap: 3px;
}
.images_in_flex_2 img {
    width: 100px;
    height: 100px;
}
.images_in_flex_3 {
    margin-top: 3px;
    display: flex;
    align-items: center;
    gap: 3px;
}
.images_in_flex_3 img {
    width: 66px;
    height: 70px;
}

.message_manipulation {
    margin-right: 2px;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 40px;
}
.msg_kk_hold {
    width: 26px;
    height: 26px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.msg_kk_hold:hover {
    background: #eee;
}
.msg_kk_hold i {
    color: #999b9f;
}
.hidddem_bitch {
    display: flex;
    align-items: center;
}
.msg_kk_hold .a99a_mg {
    width: 17px;
}
.forward_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    width: 600px;
    max-height: 700px;
    overflow-y: auto;
    z-index: 9999999999999999999999999999999999999999999999999999999999999996999;
    display: none;
}

.forward_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.exit_forward {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee;
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.exit_forward:hover {
    background: rgba(238, 238, 238, 0.521);
}
.forward_body {
    padding-top: 15px;
}
.forward_search {
    width: 95%;
    margin: 0 1rem;
    display: flex;
    align-items: center;
    background: #f0f2f5;
    border-radius: 50px;
    padding-left: 10px;
}
.forward_search input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    padding: 0 10px;
    font-size: 16px;
    background: transparent;
    font-family: inherit;
}
.forward_list {
    padding: 1rem;
}
.forward_friends {
    padding-top: 15px;
}
.forwad_list_contacts_header {
    font-weight: 600;
    color: #111;
    padding-bottom: 10px;
}
.forward_friend_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.forward_friend_it_left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.forward_friend_it_left img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.forward_friend_it_left span {
    font-weight: 600;
    font-size: 16px;
}
.forward_send {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: #1877f2;
    background: #e7f3ff;
    cursor: pointer;
    font-weight: 600;
}
.forward_recent {
}
.sent_forward_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #e4e6eb;
    color: #bec3c9;
    cursor: not-allowed;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: 600;
}
.sentedtefde {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/7b9klEQ1SqF.png');
    background-position: -25px -360px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(80%);
}
.react_msg_wrapper {
    display: flex;
    align-items: center;
    padding: 15px;
    border-radius: 50px;
    background: #fff;
    -webkit-box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: -58px;
    left: -10rem;
    gap: 5px;
    clip-depth: 2;
    display: none;
}
.react_msg_wrapper .react_msg_icon {
    width: 32px;
    cursor: pointer;
}
.msg_reactss {
    background: #fff;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    bottom: -10px;
    right: 10px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
}
.msg_reactss1 {
    background: #fff;
    padding: 3px;
    display: flex;
    align-items: center;
    gap: 2px;
    position: absolute;
    bottom: -10px;
    left: 10px;
    border-radius: 50px;
    -webkit-box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
}
.msg_reactss img {
    width: 15px;
}
.msg_reactss1 img {
    width: 15px;
}
.hidddem_bitch {
    opacity: 0;
    visibility: hidden;
}
.images_in_messages_1:hover .hidddem_bitch {
    opacity: 1;
    visibility: visible;
}
.images_in_messages_2:hover .hidddem_bitch {
    opacity: 1;
    visibility: visible;
}
.images_in_messages_3:hover .hidddem_bitch {
    opacity: 1;
    visibility: visible;
}
.images_in_messages_4:hover .hidddem_bitch {
    opacity: 1;
    visibility: visible;
}
.images_in_messages_5:hover .hidddem_bitch {
    opacity: 1;
    visibility: visible;
}
.images_in_messages_6:hover .hidddem_bitch {
    opacity: 1;
    visibility: visible;
}
.msg_rem_menu {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: -20px;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1),
        inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    display: none;
}
.msg_rem_menu button {
    border: none;
    outline: none;
    display: block;
    width: 100%;
    background: transparent;
    font-weight: 600;
    border-radius: 5px;
    padding: 8px 25px 8px 10px;
    font-size: 14px;
    cursor: pointer;
}
.msg_rem_menu button:hover {
    background: #eee;
}
.only_message_texto {
    position: relative;
    display: flex;
    align-items: center;
}
.only_message_texto:hover .hidddem_bitch {
    opacity: 1;
    visibility: visible;
}
.reply_wrapper {
    position: absolute;
    bottom: 45px;
    left: 0;
    padding: 5px 15px;
    width: 100%;
    border-top: 1px solid#ced0d4;
    background: #fff;
    display: none;
}
.reply_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.close_reply_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/1cpzacTO1oq.png');
    background-position: -125px -71px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(20%);
}
.reply_header_left {
    font-size: 13px;
    font-family: inherit;
}
.close_reply-wrap {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.close_reply-wrap:hover {
    background: #eee;
}
.reply_to_msg {
    font-size: 11px;
    color: #65676b;
    font-family: inherit;
    max-width: 220px;
    overflow: hidden;
}
.replied_messaage {
    background: #f6f9fa;
    color: #65676b;
    padding: 7px;
    font-size: 13px;
    border-radius: 50px;
    max-width: 230px;
    word-break: break-all;
}
.dots_msg_rem {
    position: relative;
    transform: translateX(-5px);
}
.motalat_rem_menu {
    position: absolute;
    bottom: -15px;
    left: 15%;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
}
.images_in_messages_3 {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.images_in_messages_3 .img {
    height: 100px;
    width: 90px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.images_in_messages_4 {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.images_in_messages_4 .img {
    height: 100px;
    width: 90px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.images_in_messages_5 {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.images_in_messages_5 .img {
    height: 100px;
    width: 90px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.images_in_messages_6 {
    position: relative;
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap: 2px;
}
.images_in_messages_6 .imgg {
    height: 100px;
    width: 90px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.gridm_6 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
}
