.popup_chat {
    position: relative;
    height: 455px;
    max-height: calc(100vh - 60px - 24px);
    font-size: 0.9375rem;
    width: 328px;
    background: #fff;
    box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.chat_header {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    z-index: 11;
}
.left_popp {
    display: flex;
    align-items: center;
    padding: 3px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.left_popp img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 4px;
}
.left_popp:hover {
    background: #bcc0c45d;
}
.left_popp svg {
    margin-left: 4px;
}
.h_m_ic {
    height: 35px;
    width: 35px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.h_m_ic:hover {
    background: #bcc0c428;
}
.h_m_ic i {
    color: #1437ef;
}
.popup_chat_area {
    height: 350px;
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    top: 60px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ar27_h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
}
.ar27_h img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    object-fit: cover;
}
.h27_name {
    font-weight: 600;
    font-family: inherit;
    margin-top: 5px;
}
.h23_det {
    font-size: 12px;
    color: #65676b;
    margin-top: 2px;
}
.popu_char_a7em {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    display: flex;
    align-items: center;
    z-index: 2;
    background: #fff;
}

.m14_left {
    display: flex;
    align-items: center;
    column-gap: 10px;
}
.m24_icon svg {
    fill: #00b2ff;
}
.m24_icon {
    cursor: pointer;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 2px;
    justify-content: center;
}
.m24_icon:hover {
    background: #e4e6eb;
}
.messaging_popup {
    padding: 10px;
}
.mess_right {
    float: right;
    margin-right: 10px;
    clear: both;
    padding-bottom: 20px;
    position: relative;
    max-width: 70%;
}
.mess_left {
    float: left;
    clear: both;
    padding-bottom: 20px;
    max-width: 70%;
    display: flex;
}
.mssssg {
    color: #fff;
    background: #00abfe;
    border-radius: 10px;
    padding: 5px 10px;
    word-break: break-all;
}
.mssssg1 {
    background: #e4e6eb;
    color: #111;
    border-radius: 10px;
    padding: 5px 10px;
    word-break: break-all;
}
.mess_left img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    align-self: flex-end;
    margin-right: 5px;
}
.timeit {
    margin-top: 5px;
    position: absolute;
    bottom: 4px;
    left: 0rem;
    font-size: 10px;
    width: 70px;
}
.m14_right input {
    background: #f0f2f5;
    height: 35px;
    border-radius: 50px;
    padding-left: 10px;
    margin-left: 5px;
    border: none;
    outline: none;
}
.m14_right {
    position: relative;
}
.m14_right .emojionearea-button {
    transform: translateY(0) translateX(11rem) !important;
}
.m14_right .emojionearea-picker {
    transform: translateY(1rem) translateX(11rem) !important;
}
.m14_right .emojionearea-editor {
    background: red;
    transform: translateY(0) translateX(0rem) !important;
}
.not_seen {
    position: absolute;
    right: -10px;
    width: 10px;
}
.seen_message {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    object-fit: cover;
}
.active_now_wrap {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 3px;
    bottom: 2px;
}
.active_dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #31a24c;
}
.active_now_text {
    position: absolute;
    font-size: 13px;
    font-weight: normal;
    right: -15px;
}
.chat_popup_menu {
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    height: 500px;
    width: 350px;
    padding: 15px;
    transform: translateX(-15rem);
}
.chat_menu_a7a {
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
.chat_menu_a7a:hover {
    background: #eee;
}
.messenger_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -307px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.get_icona {
    -webkit-filter: invert(30%);
    background-image: url('https://www.facebook.com/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -42px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.profile_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -895px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.color_icona {
    -webkit-filter: invert(30%);
    background-image: url('https://www.facebook.com/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -21px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.emoji_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -63px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.nickc_icona {
    -webkit-filter: invert(30%);
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -769px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.group_icona {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ym/r/1vH_aI33dQX.png');
    background-position: 0px -105px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.not_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -349px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.ign_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -1084px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.block_icona {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -580px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.del_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -1063px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.wr_icona {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yt/r/fexxU9-Z_HC.png');
    background-position: 0px -559px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.line_br {
    width: 320px;
    height: 1px;
    padding: 0 10px;
    background: #ced0d4;
}
.active_text {
    position: absolute;
    right: -85px;
    width: 70px;
    top: 7px;
    word-break: keep-all;
    font-size: 12px;
}
