.friends_holder {
    margin-top: 2rem;
    display: grid;
    overflow-x: hidden;
}
@media (min-width: 968px) {
    .friends_holder {
        grid-template-columns: 1.1fr 5fr;
    }
    .friends_left {
        position: fixed;
        width: 350px;
        height: 95vh;
        overflow-y: auto;
        overflow-x: visible;
    }
    .friends_right {
        margin-left: 377px;
        width: 80vw;
        overflow-x: hidden;
    }
}
@media (min-width: 1968px) {
    .friends_right {
        width: 100vw;
    }
}
.friends_left {
    padding: 5px 0.8rem;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-right: 1px solid #eee;
    display: flex;
    flex-direction: column;
    z-index: 12;
}
.friends_left ul li {
    margin-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}
.friends_left ul li:hover {
    background: #f0f2f5;
}
.friends_settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.friends_settings h5 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.sett_icni_holder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f2f5;
}
.sett_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ya/r/-Uq5Oi00TzU.png');
    background-position: 0px -516px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.friend_text {
    font-size: 0.96rem;
    color: #111;
    font-weight: 600;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.frined_link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px;
    border-radius: 10px;
    width: 100%;
}
ul {
    padding: 0;
}

.li_icon_friend {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;

    justify-content: center;
}
.friend_home {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yR/r/5aSzlJZ8Frn.png');
    background-position: 0px -331px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(100%);
}
.frined_active {
    background: #1877f2 !important;
}
.frined_active_bg {
    background: #f0f2f5 !important;
}
.li_icon_friend {
    background: #e4e6eb;
}
.requests_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yR/r/5aSzlJZ8Frn.png');
    background-position: 0px -310px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(15%);
}
.sugg_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yR/r/5aSzlJZ8Frn.png');
    background-position: 0px -268px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(15%);
}
.all_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yR/r/5aSzlJZ8Frn.png');
    background-position: 0px -289px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(15%);
}
.birth_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yR/r/5aSzlJZ8Frn.png');
    background-position: 0px -352px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(15%);
}
.cus_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yR/r/5aSzlJZ8Frn.png');
    background-position: 0px -289px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(15%);
}
.arr_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yH/r/j1yBAFMLTz4.png');
    background-position: 0px -107px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(21%);
    margin-right: 10px;
}
.friends_right {
    background: #f0f2f5;
    padding: 1.5rem 2rem;
    height: 90vh;
}
.friends_right h5 {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.flex_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-top: 1rem;
    width: 100%;
}
/*-------------Request friend crad*/
.fri_req_card {
    display: flex;
    flex-direction: column;
    border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-right: 1px solid #eee;
    height: 320px;
    width: 200px;
    padding-bottom: 10px;
}
.fri_req_card img {
    width: 200px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.p5 {
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.p5 a {
    text-decoration: none;
    color: #111;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 19px;
    margin-bottom: 30px;
}
.p5 a:hover {
    text-decoration: underline;
}
.p5 button {
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
}
.p5 button:first-of-type {
    background: #1b74e4;
    color: #fff;
}
.p5 button:last-of-type {
    background: #e4e6eb;
    color: #000;
}
.center_bitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.center_bitch img {
    width: 120px;
}
.some_fuxking_text {
    font-size: 20px;
    font-weight: 700;
    color: #65676b;
    margin-top: 10px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.backb {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 15px;
    justify-content: center;
}
.backb:hover {
    background: #65676b38;
}
.arrow_bakc {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yr/r/duZWR9u2KSw.png');
    background-position: -25px -86px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(20%);
}
.a7oo {
    display: flex;
    flex-direction: column;
}
.a7oo a {
    font-size: 12px;
    color: #65676b;
}
.a7oo a:hover {
    text-decoration: underline;
}
.reqeta {
    justify-content: start;
    margin-top: 20px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ced0d4;
}
.send_t {
    margin-top: 10px;
    font-weight: 600;
}
.sent_q {
    font-size: 12px;
    color: #1876f2;
    margin-top: 10px;
}
.req_alt_card {
    display: flex;
    gap: 10px;
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.req_alt_card:hover {
    background: #f0f2f5;
}
.req_alt_card img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 7px;
}
.req_flexcol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.req_flexcol {
}
.req_flexcol button {
    outline: none;
    border: none;
    padding: 11px 37px;
    border-radius: 6px;
    margin-bottom: 5px;
    font-weight: 600;
    cursor: pointer;
}
.req_flexcol button:first-of-type {
    background: #1b74e4;
    color: #fff;
}
.req_flexcol button:last-of-type {
    background: #e4e6eb;
    color: #000;
}
.req_n {
    font-weight: 600;
    font-size: 15px;
}
a {
    color: #111;
}
.friend_lii {
    display: flex;
    align-items: center;
    padding: 5px;
    gap: 10px;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}
.friend_lii:hover {
    background: #f0f2f5;
}

.friend_lii img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 7px;
}
.friend_lii .spann {
    font-weight: 600;
    font-size: 14px;
}
.points3 {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0.2rem;
    top: 1.5rem;
}
.points3:hover {
    background: #c5c6c7ab;
}
.point_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/duZWR9u2KSw.png');
    background-position: -102px -153px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}
.point_msg {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/z_LxJa7o_KR.png');
    background-position: 0px -286px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(20%);
}
.points_menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    display: none;
    right: 0;
    top: 4rem;
    width: 300px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    z-index: 999999999999999999;
    overflow: visible;
    padding: 1rem;
    border-radius: 10px;
}
.sm_arrow {
    background: #fff;
    height: 17px;
    width: 17px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    position: absolute;
    right: 14px;
    top: -15px;
}
.point_menu {
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 10px;
    border-radius: 10px;
}
.point_menu:hover {
    background: #f0f2f5;
}
.point_icon1 {
    margin-right: 10px;
}
.poin_col {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.point_h {
    font-weight: 600;
    font-size: 14px;
}
.unf_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y_/r/z_LxJa7o_KR.png');
    background-position: 0px -853px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(20%);
}
.b_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/T165w2gRX6Z.png');
    background-position: 0px -294px;
    background-size: auto;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(20%);
}
.point_sub {
    color: #65676b;
    font-size: 12px;
}
.fa-ellipsis {
    color: #65676b;
}
