header {
    position: fixed;
    top: 0;
    z-index: 999;
    background: #fff;
    width: 100%;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
    box-shadow: 1px 8px 15px -7px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h_left {
    display: flex;
    align-items: center;
    padding: 7px 1rem;
}
.fb_logo {
    width: 38px;
}
.search {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    background: #f0f2f5;
    height: 100%;
    border-radius: 50px;
    padding-left: 10px;
}
.search1 {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 10px;
    background: #f0f2f5;
    height: 100%;
    border-radius: 50px;
    padding-left: 10px;
    width: 235px;
    z-index: 99999999;
}
.search input,
.search1 input {
    border: none;
    outline: none;
    margin-left: 5px;
    background: transparent;
    color: #65676b;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    width: 200px;
    height: 37px;
}

.search_results {
    position: absolute;
    top: 0;
    left: 1px;
    width: 303px;
    min-height: 450px;
    max-height: 95vh;
    overflow-y: auto;
    background-color: #fff;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    -webkit-font-smoothing: antialiased;
    transition: all 0.2s;
    padding: 7px 1rem 7px 0;
    display: none;
    z-index: 999999999999999999999999999999999999999999999999999999999;
}

.s_h {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.backatit {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.backatit:hover {
    background: #f0f2f5;
}
.h_resultos_hermanos {
    padding: 0;
    padding-left: 10px;
}
.h_resultos_hermanos1 {
    padding: 0;
    padding-left: 10px;
}
.history_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.history_item:hover {
    background: #eee;
}
.his_l {
    display: flex;
    align-items: center;
    gap: 10px;
}
.his_l img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.his_l span {
    font-size: 14px;
}
.rem_ic_h {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rem_ic_h:hover {
    background: rgb(216, 214, 214);
}
.rem_h_ic {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yE/r/mrCvbD_vSoR.png');
    background-position: -125px -71px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.s_hhs {
    padding-left: 1.2rem;
    padding-top: 1rem;
    font-weight: 600;
}
.h_middle {
    display: flex;
    align-items: center;
    transform: translateX(3rem);
}
.a_middle {
    position: relative;
    height: 100%;
    display: block;
    padding: 7px 45px;
    margin-left: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.active_middle {
    height: 100%;
    display: block;
    padding: 10px 45px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(2px);
}
.a_middle:hover {
    background: #eee;
}
.active_middle {
    border-bottom: 3px solid #3181e6;
}
.not_icon {
    position: absolute;
    top: 0;
    right: 35%;
    background: #e41e3f;
    width: 18px;
    height: 18px;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.h_right {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    gap: 7px;
}
.find_friends_btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    background: #e4e6eb;
    border-radius: 50px;
    padding: 8px 13px;
    cursor: pointer;
}
.pic_img_prf {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 50px;
}
.pic_img_prf:hover {
    background: #eee;
}
.pic_img_prf img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    object-fit: cover;
}
.pic_img_prf span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.ri_scx {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
    cursor: pointer;
}
.ri_scx:hover {
    background: #e4e6ebc7;
}
.all_menu {
    position: absolute;
    right: -9rem;
    top: 45px;
    background: #f7f8fa;
    border-radius: 10px;
    height: 90vh;
    width: 575px;
    padding: 10px 1rem;
    display: none;
    -webkit-box-shadow: -2px 1px 5px 2px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 1px 5px 2px rgba(0, 0, 0, 0.2);
    user-select: none;
}
.all_h {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}
.full_fucking_menu {
    display: grid;
    grid-template-columns: 1.7fr 1fr;
    gap: 1rem;
    overflow-y: auto;
    height: 95%;
}
.full_fucking_menu::-webkit-scrollbar {
    width: 6px;
    background-color: #f7f8fa;
}
.full_fucking_menu::-webkit-scrollbar-thumb {
    background: #aeaeafa1;
    border-radius: 5px;
}

.all_left {
    background: #fff;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.amm_s_ic {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/GiDsMbzTaS0.png');
    background-position: -34px -174px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.all_search {
    background: #f0f2f5;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 50px;
}
.all_search input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 15px;
}
.m_ar231 {
    margin-top: 10px;
    border-bottom: 1px solid #ced0d4;
}
.h2_13 {
    font-weight: 600;
    font-size: 16px;
    padding: 10px 0;
}
.m_ar231 {
    width: 100%;
}
.xc748 {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.xc748:hover {
    background: #eee;
}
.xc748 img {
    width: 36px;
    height: 36px;
    margin-right: 10px;
}
.xc748_2 {
    display: flex;
    flex-direction: column;
}
.xc748_2 span:first-of-type {
    font-size: 14px;
    font-weight: 500;
}
.xc748_2 span:last-of-type {
    font-size: 12px;
    color: #65676b;
    width: 95%;
}
.all_right {
    padding: 15px 10px;
    background: #fff;
    margin-right: 1rem;
    border-radius: 10px;
    height: 550px;
    width: 170px;
    position: fixed;
    right: 2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.r_tit {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 15px;
}
.m_post_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yV/r/GiDsMbzTaS0.png');
    background-position: 0px -132px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_story_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/WbWAp7wNa07.png');
    background-position: 0px -387px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_post_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/mj6tKn3JC24.png');
    background-position: 0px -542px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_page_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/mj6tKn3JC24.png');
    background-position: 0px -521px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_ad_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/mj6tKn3JC24.png');
    background-position: 0px -1004px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_group_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/mj6tKn3JC24.png');
    background-position: 0px -479px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_event_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/mj6tKn3JC24.png');
    background-position: 0px -647px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_post_mar {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yC/r/WbWAp7wNa07.png');
    background-position: 0px -366px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.m_post_job {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/mj6tKn3JC24.png');
    background-position: 0px -626px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.a7aton {
    display: flex;
    align-items: center;
    font-weight: 600;
    gap: 10px;
    font-size: 14px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 2px;
}
.a7aton:hover {
    background: rgba(238, 238, 238, 0.357);
}
.m_b217 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
}
.active_alkhawa {
    background: #e7f3ff;
    color: #1876f2;
}
.messages_popup {
    position: absolute;
    top: 2.6rem;
    right: -6rem;
    background: #fff;
    width: 330px;
    padding: 15px;
    max-height: 70vh;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    display: none;
    user-select: none;
}
.messg_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 23px;
}
.wtfakinho {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 10px;
}
.wtfakinho:hover {
    background: #eee;
}
.pointa74 {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/raOLVscIxIn.png');
    background-position: -126px -107px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.a5455551 {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yj/r/qG29wzCNk6k.png');
    background-position: 0px -1021px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.b545845 {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/gOgNzO5gmqK.png');
    background-position: -25px -124px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.v54545 {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/gOgNzO5gmqK.png');
    background-position: 0px -857px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.rtt4458 {
    display: flex;
    align-items: center;
}
.s15145_searchives {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    background: #f0f2f5;
    padding-left: 10px;
}
.s15145_searchives input {
    background: transparent;
    border: none;
    outline: none;
    height: 35px;
    font-size: 15px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    width: 100%;
}
.ms74g {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}
.ty415 {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
}
.ms74g:hover {
    background: rgba(238, 238, 238, 0.507);
}
.b454 {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/gOgNzO5gmqK.png');
    background-position: 0px -282px;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.tx45 {
    font-weight: 600;
    font-size: 14px;
    color: #111;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.a5a4d {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/gOgNzO5gmqK.png');
    background-position: -17px -823px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(50%);
    justify-self: flex-end;
    margin-left: 5rem;
}
.ty415 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.popin_dem_chats {
    position: fixed;
    right: 3rem;
    bottom: 0;
    z-index: 9999999;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

@media (max-width: 1260px) {
    .open_search {
        display: none;
    }
    .search {
        width: 40px;
        height: 40px;
        display: flex;
        cursor: pointer;
    }
    .search svg {
        transform: translateX(3px);
    }
    .hide_bicko {
        display: none;
    }
}
@media (max-width: 770px) {
    .h_middle {
        display: none;
    }
}
.nicknames_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    width: 550px;
    z-index: 9999999999999999999999999999999999999999999999999999999999999996999;
    display: none;
}
.errors_popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 8px 15px -2px rgba(0, 0, 0, 0.4);
    width: 550px;
    z-index: 9999999999999999999999999999999999999999999999999999999999999996999;
    padding: 1rem;
    padding-bottom: 3rem;
    display: none;
}
.nicknames_header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #e5e5e5;
}
.errors_heading {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 20px;
}
.nicknames_body {
    padding: 10px;
}
.nickname_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.nickname_item1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
}
.nickname_item:hover {
    background: #eee;
}
.nick_left {
    display: flex;
    align-items: center;
    gap: 10px;
}
.nick_left img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
.nick_col {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.nick_col span:first-of-type {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.nick_col span:last-of-type {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #65676b;
}
.edito_icona {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/reJRaA-O916.png');
    background-position: 0px 0px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(10%);
}
.nick_right {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nick_right:hover {
    background: rgba(238, 238, 238, 0.425);
}
.fixed_opacity {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.8;
    z-index: 99999999;
    display: none;
}
.exit_nickname {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #eee;
    position: absolute;
    right: 10px;
    top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.exit_nickname:hover {
    background: rgba(238, 238, 238, 0.521);
}
.zfzfzfzfkzpofgj {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/raOLVscIxIn.png');
    background-position: -105px -107px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.sub_iconaka {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yr/r/eL6V-otH1ae.png');
    background-position: 0px -25px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(10%);
}
.nick_col input {
    height: 36px;
    width: 420px;
    border-radius: 10px;
    border: 1px solid #eee;
    outline: none;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-left: 10px;
}
.nick_col input:focus {
    border: 1px solid #1876f2;
    background: #fff;
}
.nick_col input:hover {
    background: #eee;
}
.error_texting {
    padding: 20px 0;
    font-size: 13px;
}
.close_erros_send {
    border: none;
    outline: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    padding: 8px 10px;
    background: #1b74e4;
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 15px;
    bottom: 10px;
}
#video-call-div {
    position: fixed;
    top: 50%;
    left: 50%;
    background: #fff;
    transform: translate(-50%, -50%);
    z-index: 99999999999999999999999999999999999999999999999999999999999999;
}
#local-video {
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.name_145454545 {
    font-size: 12px;
    color: #65676b;
    display: flex;
    align-items: center;
}
