.facebook {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem 1rem;
    margin-top: 50px;
}
.facebook_left {
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0.5rem;
    width: 340px;
    overflow-y: auto;
}

.home_links {
    padding-bottom: 8px;
}
.home_link {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 7px;
    margin-bottom: 3px;
    border-radius: 10px;
}
.home_link:hover {
    background: #e4e6eb;
}
.home_link span {
    font-size: 14px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 500;
}
.arrit_down {
    background: #e4e6eb;
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.sub_home_links {
    display: none;
}
#open_less {
    display: none;
}
.home_iagina {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.shortcuts {
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shortcuts span {
    color: #65676b;
    font-weight: 600;
}
.short_edit {
    color: hsl(214, 89%, 52%);
    cursor: pointer;
    padding: 5px;
    border-radius: 2px;
}
.short_edit:hover {
    background: #e4e6eb;
}
.bt_left {
    position: absolute;
    bottom: 10px;
    padding: 5px;
}
.bt_left a {
    font-size: 12px;
    color: #65676b;
}
.facebook_middle {
    width: 680px;
    margin: 0 auto;
    position: absolute;
    left: 32%;
}
/*-------------CREATE POST----------------*/

.home_post_wrapper {
    padding: 10px 16px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
}
.home_post_top {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e4e6eb;
}
.home_user_post_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.home_post_open {
    background: #f0f2f5;
    width: 100%;
    padding: 0.6rem 0;
    border-radius: 50px;
    padding-left: 15px;
    color: #65676b;
    font-size: 17px;
    cursor: pointer;
}
.home_post_open:hover {
    background: #c6c7ca4f;
}
.home_user_post_img:hover {
    opacity: 0.9;
}
.home_post_bottom {
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home_choice {
    padding: 8px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #65676b;
    column-gap: 5px;
    font-weight: 600;
    font-size: 14px;
    width: 33%;
}
.home_choice:hover {
    background: #f0f2f5;
}
/*-----------EmojiOneArea----------*/
.box_area .emojionearea-button-close,
.box_area .emojionearea-button-open {
    position: absolute !important;
    top: 5rem !important;
    transform: scale(1.5) !important;
}

.box_area .emojionearea-picker,
.box_area .emojionearea .emojionearea-picker.emojionearea-picker-position-top {
    position: absolute !important;
    top: 7.5rem !important;
}
.box_area .textarea_post,
.box_area .emojionearea {
    resize: none !important;
    flex: 1 !important;
    font-family: inherit !important;
    outline: none !important;
    border: none !important;
    background: #fff !important;
    font-size: 15px !important;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif !important;
}

.box_area .textarea_post,
.box_area .emojionearea {
    border: none !important;
    box-shadow: none !important;
}
/*-----------EmojiOneArea----------*/
/*---right ------------*/
.facebook_right {
    position: fixed;
    right: 2rem;
    top: 70px;
    bottom: 0;
    width: 320px;
    font-weight: 600;
}
.mlist_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #65676b;
}
.mrighte {
    display: flex;
    align-items: center;
}
.mm_list_friends {
    margin-top: 10px;
    border-bottom: 1px solid #ced0d4;
    overflow-y: auto;
    padding-bottom: 20px;
    min-height: 100%;
    max-height: 91vh;
}
.micon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.micon:hover {
    background: #e4e6eb;
}
.contact_tochat {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 4px;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
}
.contact_tochat:hover {
    background: #e4e6eb;
}
.contact_tochat img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 1544px) {
    .facebook_left {
        width: 300px;
    }
    .facebook_middle {
        left: 400px;
    }
    .facebook_right {
        width: 250px;
    }
}

@media (max-width: 1404px) {
    .facebook_middle {
        left: 370px;
    }
}
@media (max-width: 1354px) {
    .facebook_middle {
        left: 300px;
    }
    .facebook_left {
        width: 220px;
    }
}
@media (max-width: 1314px) {
    .facebook_middle {
        left: 240px;
    }
}
@media (max-width: 1220px) {
    .facebook_middle {
        width: 600px;
    }
}
@media (max-width: 1128px) {
    .facebook_left {
        display: none;
    }
    .facebook_middle {
        left: 3rem;
        width: 700px;
    }
}
@media (max-width: 1042px) {
    .facebook_middle {
        width: 600px;
    }
}
@media (max-width: 930px) {
    .facebook_right {
        display: none;
    }
    .facebook_middle {
        width: 100%;
        position: relative;
        padding: 1rem 3rem;
    }
}
@media (max-width: 770px) {
    .facebook_middle {
        padding: 0;
        left: 10px;
        right: -10px;
    }
}
.online_tag {
    position: absolute;
    bottom: 0;
    left: 1.6rem;
    background: #f0f2f5;
    height: 20px;
    width: 25px;
    border-radius: 50%;
    font-size: 0.625rem;
    font-weight: bold;
    color: #31a24c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.online_tag span {
    display: inline-block;
    text-align: center;
}
.green_round_point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #31a24c;
}
.stories_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.create_story {
    height: 190px;
    width: 110px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.create_story img {
    height: 150px;
    width: 110px;
    object-fit: cover;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.add_round_story {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 1.2rem;
}
.add_round_story_inside {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1876f2;
}
.create_story_text {
    position: absolute;
    bottom: 6px;
    font-size: 12px;
}
.greyesh {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: rgb(174, 173, 173);

    opacity: 0;
    visibility: hidden;
}
.create_story:hover .greyesh {
    opacity: 0.3;
    visibility: visible;
}
.list_of_stories {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}
.preview_st_text {
    position: absolute;
    color: #fff;
    font-size: 12px;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 600;
    font-family: inherit;
    width: 100px;
    word-break: break-all;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story_peak:hover .img {
    transform: scale(1.5);
}
.story_peak_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 99;
    border: 3px solid #2578e6;
}
.story_peak {
    height: 190px;
    width: 110px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.story_peak .img {
    height: 190px;
    width: 110px;
    object-fit: cover;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
