:root {
    --light-color: #fff;
    --dark-color: #242526;
    --dark-icon: #fff;
    --light-icon: #65676b;
}

body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
header {
    position: sticky;
    top: 0;
    z-index: 99999999999999999999;
    border-bottom: 1px solid rgba(233, 232, 232, 0.733);
    background-color: var(--light-color);
    box-shadow: 0 8px 32px 0 rgba(230, 240, 240, 0.17);
    -webkit-font-smoothing: antialiased;
}
.left {
    display: flex;
    align-items: center;
}
.left .logo img {
    width: 40px;
    margin-right: 7px;
}
.container {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    background-color: #f0f2f5;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
}
.search input {
    width: 250px;
    height: 40px;
    background: transparent;
    outline: none;
    border: none;
    padding-left: 15px;
    font-size: 15px;
    transition: all 0.2s;
}
@media (max-width: 1100px) {
    .search input {
        display: none;
    }
    .search {
        height: 40px;
        width: 40px;
        margin-left: 8px;
    }
    .find_friends {
        display: none;
    }
}

.search .icon {
    margin-left: 10px;
}
.middle {
    display: flex;
    align-items: center;
}
.icon_container {
    position: relative;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    cursor: pointer;
    border-radius: 10px;
}
.icon_container:hover {
    background-color: #eee;
}
.middle_icon {
    color: #65676b;
}
.not_icon {
    position: absolute;
    top: 0;
    right: 25px;
    background-color: red;
    color: white;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}
.right {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.find_friends {
    background: #e4e6eb;
    text-decoration: none;
    color: #000;
    padding: 8px 10px;
    border-radius: 50px;
    font-weight: 600;
    font-size: 15px;
}
.profile_link {
    text-decoration: none;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #1877f2;
    background: #e7f3ff;
    border-radius: 50px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.profile_link img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
}
.rounded_link {
    height: 40px;
    width: 40px;
    background: #e4e6eb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_container {
    max-width: 950px;
    margin: 0 auto;
}
.cover {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 345px;

    border-radius: 0px 0px max(0px, min(8px, ((100vw - 4px) - 100%) * 9999))
        max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 0px 0px 8px 8px;
}
.upload_container {
    position: relative;
    display: flex;
    align-items: center;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    background: #fff;
    color: #1c1e21;
    padding: 10px 10px;
    border-radius: 7px;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 14px;
    cursor: pointer;
    flex-direction: column;
}
.uplaod_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yD/r/yRHy04YOWar.png');
    background-position: 0px -1252px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}
.hidden {
    display: none;
}
.uplaod_menu {
    position: absolute;
    background: #fff;
    top: 100%;
    right: 0;
    width: 250px;
    padding: 10px 1rem;
    border-radius: 10px;
    display: none;
    z-index: 99;
}
.menu_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
.menu_item:hover {
    background-color: #eee;
}
.menu_icon1 {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yz/r/6X19JtTcEMM.png');
    background-position: 0px -147px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.menu_icon2 {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yz/r/6X19JtTcEMM.png');
    background-position: 0px -210px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.felx {
    display: flex;
    align-items: center;
}
.hide {
    display: none;
}
.profile_pic_container {
    display: flex;
    padding: 0 2rem;
    border-bottom: 1px solid #ccced2;
    position: relative;
}
@media (max-width: 967px) {
    .profile_pic_container {
        flex-direction: column;
        align-items: center;
    }
    .upper_right_link {
        position: relative !important;
        margin-top: 40px;
    }
    .upper_name {
        margin-top: -2rem;
    }
}
.pdp {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    object-fit: cover;
}
.pdp_container {
    transform: translateY(-2.5rem);
    padding: 4px;
    background: #fff;
    border-radius: 50%;
    margin-right: 20px;
    width: 165px;
    height: 165px;
}
.pdp_icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #e4e6eb;
    position: absolute;
    right: 0.4rem;
    bottom: 0.5rem;
    cursor: pointer;
}
.icon_pdf {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -710px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    transform: translate(9px, 9px);
}
.upper_name {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
.full_name {
    color: #1c1e21;
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
    letter-spacing: -1px;
}
.friends_link {
    color: #65676b;
    font-weight: 600;
}
.friends_link:hover {
    text-decoration: underline;
}
.friends_peak {
    margin-top: 7px;
}
.friends_peak img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.upper_right_link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
}
.add_to_story {
    display: flex;
    align-items: center;
    column-gap: 4px;
    background: #1b74e4;
    color: #fff;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
}
.add_to_story img {
    -webkit-tap-highlight-color: transparent;
}
.edit_profile_link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    background: #e4e6eb;
    color: #111;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
}
.profile_box {
    height: 600px;
    width: 700px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    border-radius: 10px;
    -webkit-box-shadow: 37px 14px 42px 8px rgba(221, 221, 221, 0.45);
    box-shadow: 37px 14px 42px 8px rgba(221, 221, 221, 0.45);
    border: 1px solid #eee;
}
.box_header {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #e5e5e5;
    position: relative;
}
.header_icon {
    position: absolute;
    right: 1rem;
    top: 12px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #e4e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header_icon i {
    font-size: 19px;
    color: #606770;
}
.box_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    column-gap: 10px;
}
.box_buttons button {
    border: none;
    outline: none;
    width: 50%;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.box_buttons button:hover {
    opacity: 0.8;
}
.box_btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7f3ff;
    color: #1877f2;
}
.box_btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
}
.box_buttons i {
    margin-right: 5px;
    font-size: 14px;
}
.frame_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/hc9PXcntkN7.png');
    background-position: 0px -130px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}
@media (max-width: 731px) {
    .middle {
        display: none;
    }
    .icon_container {
        display: none;
    }
}
@media (max-width: 707px) {
    .hidein_sm {
        display: none;
    }
}
.profile_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 2rem;
}
.menu {
    display: flex;
    align-items: center;
}
.menu_item1 {
    font-weight: 600;
    font-size: 14px;
    color: #65676b;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
}
.menu_item1:hover {
    border-radius: 10px;
    background-color: #eee;
}
.menu_dots {
    color: #65676b;
    cursor: pointer;
    padding: 10px 20px;
    background: #e4e6eb;
    border-radius: 10px;
}
.active_menu_item {
    border-bottom: 3px solid #1876f2;
    color: #1876f2;
    background-color: #fff !important;
    border-radius: 0px !important;
}
.profile_top_container {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 8px 32px 0 rgba(173, 174, 182, 0.17);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.profile_middle {
    background: #f0f2f5;
}
.profile_middle_container {
    max-width: 950px;
    margin: 0 auto;
    padding: 10px 2rem;
    display: flex;

    gap: 15px;
}
@media (max-width: 920px) {
    .profile_middle_container {
        flex-direction: column;
        align-items: center;
    }
}
.left_profile {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: sticky;
    left: 0;
}

.intro {
    padding: 5px 16px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 400px;
    padding-bottom: 1rem;
}
.intro_item {
    display: flex;
    align-items: center;
    column-gap: 5px;

    word-break: break-word;
    font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.intro_item i {
    color: #8c939d;
    margin-right: 5px;
}
.item_name {
    font-size: 14px;
}
.item_value {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.2px;
}
.social_link {
    color: #216fdb;
}
.social_link:hover {
    text-decoration: underline;
}
.spaced {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.photos_wrap {
    border-radius: 10px;
    overflow: hidden !important;
}
.photos_wrap img {
    width: 115px;
    height: 115px;
    object-fit: cover;
}
.right_profile {
    display: flex;
    flex-direction: column !important;
}

.post_wrapper {
    padding: 10px 16px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 460px;
    padding-bottom: 1rem;
}
.post_top {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e4e6eb;
}
.user_post_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.post_open {
    background: #f0f2f5;
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 50px;
    padding-left: 15px;
    color: #65676b;
    font-size: 17px;
    cursor: pointer;
}
.post_open:hover,
.user_post_img:hover {
    background: #c6c7ca6e;
}
.post_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choice {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #65676b;
    font-weight: 600;
    font-size: 14px;
}
.choice:hover {
    background: #f0f2f5;
}
.event_img {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yz/r/izogLReLVRC.png');
    background-position: 0px -184px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 8px 32px 0 rgba(173, 174, 182, 0.17);
    width: 500px;
    min-height: 420px;
    max-height: 620px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    display: none;
    overflow-y: auto;
}
.post_box_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    border-bottom: 1px solid #e5e5e5;
}
.post_user_infos {
    display: flex;
    column-gap: 10px;
    padding: 15px 5px;
}

.box_post_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.privacy_box_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.privacy_box_box {
    transform: translateY(-2rem);
}
.privacy_box_box span {
    transform: translateY(-1.9em);
    background: #e4e6eb;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
}
.privacy_box_box span i {
    font-size: 11px;
    color: #1d1f23;
}
.privacy_box_box span i:last-child {
    transform: translateY(-2px);
    font-size: 13px;
}
.privacy_box_box h6 {
    font-size: 12px;
}
.box_area {
    margin-top: -3rem;
}
.textarea_post {
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #050505;
    outline: none;
    border: none;
    resize: none;
}
.emoji_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.emoji_wrapper i {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -133px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.post_box_actions {
    display: flex;
    align-items: center;
    border: 2px solid #ced0d4;
    padding: 7px 1em;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-between;
}
.actions_list {
    display: flex;
    align-items: center;
    gap: 5px;
}
.post_action {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_action:hover {
    background: #e4e6eb;
}
.post_icon1 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -308px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon2 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -208px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon3 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -183px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon4 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yE/r/HyeXO0sd7uk.png');
    background-position: 0px -225px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon5 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yt/r/lgxgxxU6HJr.png');
    background-position: 0px -100px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon6 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -108px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.actions_name {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: -0.2px;
}
.post_button {
    margin-top: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    font-weight: bold;
    background-color: #1b74e4;
    color: white;
    border-radius: 10px;
}
.preview_container {
    padding: 0 5px;
    margin-top: 5px;
    border-radius: 10px;
}
.post_imgs_preview {
    display: grid;
    column-gap: 2px;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: -2px;
    z-index: -999;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    background: white;
    border-radius: 10px;
}
.post_imgs_preview img {
    width: 170px;
    height: 240px;
    object-fit: cover;
    transform: translateX(-2.5rem);
}
.img_preview {
}
li {
    list-style: none;
}
.remove_img {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}
.fa-xmark {
    color: #6b717a;
}
.posts_wrap {
    margin-top: 1rem;
    display: flex;

    flex-direction: column;
    gap: 1rem;
}
.posts_main {
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 1px solid #ced0d4;
}
.posts_main_header {
    display: flex;
    align-items: center;
    align-items: space-between;
    padding: 0 1rem;

    position: relative;
}
.posts_header_tools {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 10px;
}
.posts_header_tool {
    padding: 5px 10px;
    background-color: #e4e6eb;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    font-family: inherit;
    color: #111;
    display: flex;
    align-items: center;
}
.filters_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yo/r/iTLn-7aPLJI.png');
    background-position: 0px -172px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}
.posts_header_tool:hover {
    opacity: 0.9;
}
.manage_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yo/r/iTLn-7aPLJI.png');
    background-position: 0px -274px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}

.post {
    background-color: #fff;
    border-radius: 10px;
    padding: 0 1rem;
    margin-bottom: 2rem;
}
.post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post_header_left {
    display: flex;
    margin-top: 10px;
}
.post_header_left a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.post_header_left_name {
    display: flex;
    flex-direction: column;
}
.postedBy {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    color: #111;
}
.postedAt {
    color: #65676b;
    font-size: 12px;
    margin-top: 5px;
}
.post_header_right {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_header_right i {
    color: #65676b;
}
.post_header_right:hover {
    background: #f0f2f5;
}
.post_text {
    padding: 10px;
}
.post_images {
}
.post_react {
}
.post_comments {
}
.post_images {
    display: flex;
    flex-wrap: wrap;
    max-height: 500px;
    overflow: hidden;
}
.post_img {
    cursor: pointer;
    width: 100%;
    object-fit: cover;
}
.errors_post {
    z-index: 999999999999999999999999999999999;
    background-color: red;
}
.react_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 1rem;
    font-size: 14px;
    color: #65676b;
    border-bottom: 2px solid #ced0d4;
}
.small_react_img {
    width: 18px;
}
.reacts_count {
    display: flex;
    align-items: center;
    column-gap: 1px;
}
.nf-4 {
    display: flex;
    padding: 10px 0;
    align-items: center;
    position: relative;
}
.like-action {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #65676b;
    cursor: pointer;
    position: relative;
}
.like-action-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 3rem;
}
.react_btn_wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #65676b;
    cursor: pointer;
    position: relative;
}
.like_button {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ys/r/gWdQco0HMJM.png');
    background-position: 0px -222px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.comment_button {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ys/r/gWdQco0HMJM.png');
    background-position: 0px -184px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.share_button {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ys/r/gWdQco0HMJM.png');
    background-position: 0px -241px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.react_icon_md {
    width: 20px;
}

.like-color {
    color: #4267b2;
    font-weight: 600;
    text-transform: capitalize;
}

.love-color {
    color: #f63459;
    font-weight: 600;
    text-transform: capitalize;
}
.heart-color {
    color: #f63459;
    font-weight: 600;
    text-transform: capitalize;
}

.wow-color {
    color: #fbdb68;
    font-weight: 600;
    text-transform: capitalize;
}

.haha-color {
    color: #fbdb68;
    font-weight: 600;
    text-transform: capitalize;
}

.sad-color {
    color: #fbdb68;
    font-weight: 600;
    text-transform: capitalize;
}

.angry-color {
    color: #e4605a;
    font-weight: 600;
    text-transform: capitalize;
}

.reactIconSize {
    height: 20px;
    width: 20px;
}

.com-option-details ul {
    padding: 0;
}
.react-bundle-wrap {
    z-index: 9999999999999999999999999999999999999999999;
    display: flex;
    height: 50px;
    align-items: center;

    background-color: #fff;
    position: absolute;
    top: -3.3rem;
    padding: 0 5px;
    border-radius: 50px;
}
.react-bundle-wrap .react-icon {
    width: 45px;
    height: 59px;
    object-fit: cover;
    cursor: pointer;
}
.react-bundle-wrap .react-icon:hover {
    transform: scale(1.5);
    transition: 0.3s;
}
.com-rlike-react {
    position: relative;
}
.com-react-bundle-wrap {
    z-index: 9999999999999999999999999999999999999999999;
    display: flex;
    height: 50px;
    align-items: center;
    background-color: #fff;
    position: absolute;
    top: -3.3rem;
    padding: 0 5px;
    border-radius: 50px;
}
.com-react-bundle-wrap .com-react-icon {
    width: 40px;
    height: 59px;
    object-fit: cover;
    cursor: pointer;
}
.com-react-bundle-wrap .com-react-icon :hover {
    transform: scale(1.5);
    transition: 0.3s;
}
.ra {
    width: 33%;
}
.like-action-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}
.align-middle {
    display: flex;
    align-items: center;
}
.pdp_comment {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.com-details {
    display: flex;
    align-items: center;
    gap: 5px;
}
.flex_col {
    display: flex;
    flex-direction: column;
}
.nf-pr-name {
    color: #111;
    font-size: 14px;
}
.com-pro-text {
    background-color: #f0f2f5;
    padding: 5px 15px;
    border-radius: 50px;
}
.nf-4,
.nf-3,
.react_infos,
.nf-5 {
    background-color: #fff;
}

.nf-5 {
    padding: 5px 0;
}
.react-count-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-comment {
    display: flex;
    flex-direction: column;
    gap: 10px;
    transform: translateX(-15px);
}

.com-dot-option-wrap {
    margin-left: 1rem;
    color: rgb(167, 163, 163);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.com-dot-option-wrap:hover {
    background-color: #f0f2f5;
}
.com-like-action-text,
.com-reply-action {
    font-size: 14px;
    margin-left: 10px;
    color: #65676b;
}
.com-react {
    display: flex;
    align-items: center;
}
.com-input {
    margin-bottom: 1rem;
}
