:root {
    --light-color: #fff;
    --dark-color: #242526;
    --dark-icon: #fff;
    --light-icon: #65676b;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
a {
    text-decoration: none;
}

.profile_container {
    max-width: 950px;
    margin: 0 auto;
}
.cover {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 345px;

    border-radius: 0px 0px max(0px, min(8px, ((100vw - 4px) - 100%) * 9999))
        max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 0px 0px 8px 8px;
}
.upload_container {
    position: relative;
    display: flex;
    align-items: center;
    position: absolute;
    right: 2rem;
    bottom: 1rem;
    background: #fff;
    color: #1c1e21;
    padding: 10px 10px;
    border-radius: 7px;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 14px;
    cursor: pointer;
    flex-direction: column;
}
.uplaod_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yD/r/yRHy04YOWar.png');
    background-position: 0px -1252px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}
.hidden {
    display: none;
}
.uplaod_menu {
    position: absolute;
    background: #fff;
    top: 100%;
    right: 0;
    width: 250px;
    padding: 10px 1rem;
    border-radius: 10px;
    display: none;
    z-index: 99;
    user-select: none;
}
.menu_item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 10px;
    border-radius: 10px;
}
.menu_item:hover {
    background-color: #eee;
}
.menu_icon1 {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yz/r/6X19JtTcEMM.png');
    background-position: 0px -147px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.menu_icon2 {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yz/r/6X19JtTcEMM.png');
    background-position: 0px -210px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.felx {
    display: flex;
    align-items: center;
}
.hide {
    display: none;
}
.profile_pic_container {
    display: flex;
    padding: 0 2rem;
    position: relative;
}

@media (max-width: 967px) {
    .profile_pic_container {
        flex-direction: column;
        align-items: center;
    }
    .upper_right_link {
        position: relative !important;
        margin-top: 40px;
    }
    .upper_name {
        margin-top: -2rem;
    }
}
.pdp {
    border-radius: 50%;
    width: 165px;
    height: 165px;
    object-fit: cover;
}
.pdp_container {
    transform: translateY(-2.5rem);
    padding: 4px;
    background: #fff;
    border-radius: 50%;
    margin-right: 20px;
    width: 165px;
    height: 165px;
}
.pdp_icon {
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #e4e6eb;
    position: absolute;
    right: 0.4rem;
    bottom: 0.5rem;
    cursor: pointer;
}
.icon_pdf {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -710px;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    transform: translate(9px, 9px);
}
.upper_name {
    padding: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
.full_name {
    color: #1c1e21;
    font-size: 30px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.friends_link {
    color: #65676b;
    font-weight: 600;
}
.friends_link:hover {
    text-decoration: underline;
}
.friends_peak {
    margin-top: 7px;
}
.friends_peak img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.upper_right_link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 2.2rem;
    bottom: 2.5rem;
}
.add_to_story {
    display: flex;
    align-items: center;
    column-gap: 4px;
    background: #1b74e4;
    color: #fff;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
}
.add_to_story img {
    -webkit-tap-highlight-color: transparent;
}
.edit_profile_link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    background: #e4e6eb;
    color: #111;
    font-weight: 600;
    padding: 7px 10px;
    border-radius: 5px;
    font-size: 15px;
}
.profile_box {
    height: 600px;
    width: 700px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;
    border-radius: 10px;
    -webkit-box-shadow: 37px 14px 42px 8px rgba(221, 221, 221, 0.45);
    box-shadow: 37px 14px 42px 8px rgba(221, 221, 221, 0.45);
    border: 1px solid #eee;
}
.box_header {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 0.5px solid #e5e5e5;
    position: relative;
}
.header_icon {
    position: absolute;
    right: 1rem;
    top: 12px;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    background-color: #e4e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.header_icon i {
    font-size: 19px;
    color: #606770;
}
.box_buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    column-gap: 10px;
}
.box_buttons button {
    border: none;
    outline: none;
    width: 50%;
    padding: 10px 0;
    border-radius: 10px;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
.box_buttons button:hover {
    opacity: 0.8;
}
.box_btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e7f3ff;
    color: #1877f2;
}
.box_btn2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
}
.box_buttons i {
    margin-right: 5px;
    font-size: 14px;
}
.frame_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/hc9PXcntkN7.png');
    background-position: 0px -130px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}
@media (max-width: 731px) {
    .middle {
        display: none;
    }
    .icon_container {
        display: none;
    }
}
@media (max-width: 707px) {
    .hidein_sm {
        display: none;
    }
}
.profile_menu {
    width: 93%;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem;
    border-top: 1px solid #ccced2;
}
.menu {
    display: flex;
    align-items: center;
}
.menu_item1 {
    font-weight: 600;
    font-size: 14px;
    color: #65676b;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding: 17px;
    margin-bottom: 5px;
}
.menu_item1:hover {
    border-radius: 10px;
    background-color: #eee;
}
.menu_dots {
    color: #65676b;
    cursor: pointer;
    padding: 8px 15px;
    background: #e4e6eb;
    border-radius: 10px;
    margin-bottom: 5px;
}
.active_menu_item {
    margin-bottom: 0px;
    border-bottom: 3px solid #1876f2;
    color: #1876f2;
    background-color: #fff !important;
    border-radius: 0px !important;
}
.profile_top_container {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px rgba(0, 0, 0, 0.1) inset;
}
.profile_middle {
    background: #f0f2f5;
}
.profile_middle_container {
    max-width: 950px;
    margin: 0 auto;
    padding: 10px 2rem;
    display: flex;

    gap: 15px;
}
@media (max-width: 920px) {
    .profile_middle_container {
        flex-direction: column;
        align-items: center;
    }
}
.left_profile {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    position: sticky;
    left: 0;
}

.intro {
    padding: 5px 16px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 400px;
    padding-bottom: 1rem;
}
.intro_item {
    display: flex;
    align-items: center;
    column-gap: 5px;

    word-break: break-word;
    font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
}
.intro_item i {
    color: #8c939d;
    margin-right: 5px;
}
.item_name {
    font-size: 14px;
}
.item_value {
    font-weight: 600;
    font-size: 15px;
    letter-spacing: -0.2px;
}
.social_link {
    color: #216fdb;
}
.social_link:hover {
    text-decoration: underline;
}
.spaced {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-between !important;
}
.photos_wrap {
    border-radius: 10px;
    overflow: hidden !important;
}
.photos_wrap img {
    width: 115px;
    height: 115px;
    object-fit: cover;
}
.right_profile {
    display: flex;
    flex-direction: column !important;
}
.post {
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.post_wrapper {
    padding: 10px 16px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 460px;
    padding-bottom: 1rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.post_top {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e4e6eb;
}
.user_post_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}
.post_open {
    background: #f0f2f5;
    width: 100%;
    padding: 0.8rem 0;
    border-radius: 50px;
    padding-left: 15px;
    color: #65676b;
    font-size: 17px;
    cursor: pointer;
}
.post_open:hover,
.user_post_img:hover {
    background: #c6c7ca6e;
}
.post_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.choice {
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #65676b;
    font-weight: 600;
    font-size: 14px;
}
.choice:hover {
    background: #f0f2f5;
}
.event_img {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yz/r/izogLReLVRC.png');
    background-position: 0px -184px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 500px;
    min-height: 428px;
    max-height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    display: none;
}
.post_box1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    width: 500px;
    min-height: 428px;
    max-height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 10px 15px;
    display: none;
}
.post_share_box {
    position: relative;

    z-index: 99999999999999999999999999999999999999999999;
}
.post_box_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
    border-bottom: 1px solid #e5e5e5;
}
.post_user_infos {
    display: flex;
    column-gap: 10px;
    padding: 15px 5px;
}

.box_post_img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.privacy_box_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.privacy_box_box {
}
.privacy_box_box span {
    background: #e4e6eb;
    display: flex;
    align-items: center;
    column-gap: 5px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    cursor: pointer;
}
.privacy_box_box span i {
    font-size: 11px;
    color: #1d1f23;
}
.privacy_box_box span i:last-child {
    transform: translateY(-2px);
    font-size: 13px;
}
.privacy_box_box h6 {
    font-size: 12px;
}
.box_area {
    position: relative;
}
.textarea_post {
    width: 100%;
    font-size: 20px;
    font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 28px;
    color: #050505;
    outline: none;
    border: none;
    resize: none;
}
.emoji_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-2rem);
}
.emoji_wrapper i {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -133px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
}
.post_box_actions {
    display: flex;
    align-items: center;
    border: 2px solid #ced0d4;
    padding: 7px 1em;
    border-radius: 10px;
    margin-top: 10px;
    justify-content: space-between;
    transform: translateY(0.5rem);
}
.actions_list {
    display: flex;
    align-items: center;
    gap: 5px;
}
.post_action {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_action:hover {
    background: #e4e6eb;
}
.post_icon1 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -308px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon2 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -208px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon3 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -183px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon4 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yE/r/HyeXO0sd7uk.png');
    background-position: 0px -225px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon5 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yt/r/lgxgxxU6HJr.png');
    background-position: 0px -100px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.post_icon6 {
    height: 24px;
    width: 24px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yg/r/s-p_NT3UwXm.png');
    background-position: 0px -108px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
}
.actions_name {
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    letter-spacing: -0.2px;
}
.post_button {
    margin-top: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 0;
    font-weight: bold;
    background-color: #1b74e4;
    color: white;
    border-radius: 10px;
    width: 100%;
}
.preview_container {
    padding: 0 5px;
    margin-top: 5px;
    border-radius: 10px;
    border: 1px solid #eee;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
    min-height: 350px;
    max-height: 400px;
    width: 98%;
    margin-bottom: 10px;
}

.add_more_imgs {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: absolute;
    left: 1rem;
    top: 10px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    gap: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}
.add_more_imgs1 {
    display: flex;
    align-items: center;
    background-color: #fff;
    position: absolute;
    left: 1rem;
    top: 10px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    gap: 5px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: none;
}
.azrbch {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/77wwJhK6oat.png');
    background-position: 0px -1477px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}
.added_ikhe {
    background: #f7f8fa;
    border-radius: 10px;
    margin: 5px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transform: translateX(-5px);
}
.added_ikhe span {
    font-size: 12px;
    font-weight: normal;
    color: #65676b;
}
.added_ikhe:hover {
    background: #e4e6eb;
}
.added_ikhe1 {
    background: #f7f8fa;
    border-radius: 10px;
    margin: 5px;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    transform: translateX(-5px);
    display: none;
}
.added_ikhe1 span {
    font-size: 12px;
    font-weight: normal;
    color: #65676b;
}
.added_ikhe1:hover {
    background: #e4e6eb;
}
.post_imgs_preview {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
}
.post_imgs_preview1 {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
}
.existed_images {
    position: relative;
    display: grid;
    width: 100%;
    height: 100%;
}

.prevv_img {
    object-fit: cover;
}
.prevv_img1 {
    object-fit: cover;
}
.input_tamara {
    position: absolute;
    top: 0;
    left: 0;
    height: 195px;
    width: 99%;
    opacity: 0;
    cursor: pointer;
}
.plussit_dvc {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
}
.plucit_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/77wwJhK6oat.png');
    background-position: 0px -1033px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}

.img_preview {
}
li {
    list-style: none;
}
.remove_img {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.remove_img1 {
    position: absolute;
    top: 5px;
    right: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.fa-xmark {
    color: #6b717a;
}
.posts_wrap {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.posts_main {
    background-color: #fff;
    border-radius: 10px;
    border-bottom: 1px solid #ced0d4;
}
.posts_main_header {
    display: flex;
    align-items: center;
    align-items: space-between;
    padding: 0 1rem;

    position: relative;
}
.posts_header_tools {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    right: 10px;
}
.posts_header_tool {
    padding: 5px 10px;
    background-color: #e4e6eb;
    font-weight: bold;
    border-radius: 10px;
    font-size: 15px;
    font-family: inherit;
    color: #111;
    display: flex;
    align-items: center;
}
.filters_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yo/r/iTLn-7aPLJI.png');
    background-position: 0px -172px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}
.posts_header_tool:hover {
    opacity: 0.9;
}
.manage_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yo/r/iTLn-7aPLJI.png');
    background-position: 0px -274px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 5px;
}

.post {
    background-color: #fff;
    border-radius: 10px;

    margin-bottom: 2rem;
}
.post_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}
.post_header_left {
    display: flex;
    margin-top: 10px;
}
.post_header_left a img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}
.post_header_left_name {
    display: flex;
    flex-direction: column;
}
.postedBy {
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    color: #111;
}
.postedAt {
    color: #65676b;
    font-size: 12px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.post_header_right {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post_header_right i {
    color: #65676b;
}
.post_header_right:hover {
    background: #f0f2f5;
}
.post_text {
    display:flex;
    padding: 10px;
}
.post_images {
}
.post_react {
}
.post_comments {
}
.post_images {
    background: #151515;
    display: grid;
    max-height: 700px;
    overflow: hidden;
}
.post_img {
    cursor: pointer;
    width: 100%;
    height: 700px;
    object-fit: cover;
}
.post_img1 {
    cursor: pointer;
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.errors_post {
    z-index: 999999999999999999999999999999999;
    background-color: red;
}
.react_infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 1.2rem;
    font-size: 14px;
    color: #65676b;
}
.small_react_img {
    width: 18px;
}
.reacts_count {
    display: flex;
    align-items: center;
    column-gap: 1px;
}
.nf-4 {
    display: flex;
    align-items: center;
    padding: 6px 0;
    position: relative;

    font-size: 14px;
}
.border-t {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bbb {
    width: 95%;
    height: 1px;
    background: #ced0d4;
}
.like-action {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #65676b;
    cursor: pointer;
    position: relative;
    padding: 6px 66px;
    border-radius: 5px;
}
.like-action:hover {
    background: #e4e6eb6e;
}
.comment-action {
    padding: 6px 66px;
    border-radius: 5px;
}
.share-action {
    padding: 6px 66px;
    border-radius: 5px;
}
.comment-action:hover {
    background: #e4e6eb6e;
}
.share-action:hover {
    background: #e4e6eb6e;
}
.com-input {
    position: relative;
    width: 100%;
}
.comment-write {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 5px;
    height: 100%;
    width: 95%;
}
.comment-input-style {
    height: 30px;
    margin-top: 15px;
    width: 97%;

    border: none;
    outline: none;
}
.top-pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(-3px);
}
.new-comment {
}

.like-action-wrap {
    display: flex;
    align-items: center;
}
.react_btn_wrapper {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: #65676b;
    cursor: pointer;
    position: relative;
}
.like_button {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ys/r/gWdQco0HMJM.png');
    background-position: 0px -222px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.comment_button {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ys/r/gWdQco0HMJM.png');
    background-position: 0px -184px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.share_button {
    background-image: url('https://www.facebook.com/rsrc.php/v3/ys/r/gWdQco0HMJM.png');
    background-position: 0px -241px;
    background-size: auto;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(39%) sepia(21%) saturate(200%) saturate(109.5%)
        hue-rotate(174deg) brightness(94%) contrast(86%);
}
.react_icon_md {
    width: 19px;
}

.like-color {
    color: #4267b2;
    font-weight: 600;
    text-transform: capitalize;
}

.love-color {
    color: #f63459;
    font-weight: 600;
    text-transform: capitalize;
}
.heart-color {
    color: #f63459;
    font-weight: 600;
    text-transform: capitalize;
}

.wow-color {
    color: #f7b125;
    font-weight: 600;
    text-transform: capitalize;
}

.haha-color {
    color: #f7b125;

    font-weight: 600;
    text-transform: capitalize;
}

.sad-color {
    color: #f7b125;

    font-weight: 600;
    text-transform: capitalize;
}

.angry-color {
    color: #e4605a;
    font-weight: 600;
    text-transform: capitalize;
}

.reactIconSize {
    height: 19px;
    width: 19px;
}

.com-option-details ul {
    padding: 0;
}
.react-bundle-wrap {
    position: absolute;
}
.react-bundle-wrap .react-icon {
    width: 45px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}
.react-bundle-wrap .react-icon:hover {
    transform: scale(1.3);
    transition: 0.1s;
}
.com-rlike-react {
    position: relative;
}
.com-react-bundle-wrap {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.9);
}
.com-react-bundle-wrap .com-react-icon {
    width: 50px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
}
.com-react-bundle-wrap .com-react-icon :hover {
    transform: scale(1.3);
    transition: 0.1s;
}

.like-action-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}
.align-middle {
    display: flex;
    align-items: center;
}
.pdp_comment {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.com-details {
    display: flex;
    align-items: center;
    gap: 5px;
}
.flex_col {
    display: flex;
    flex-direction: column;
}
.nf-pr-name {
    color: #111;
    font-size: 12px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.com-pro-text {
    background-color: #f0f2f5;
    padding: 5px 15px;
    border-radius: 20px;
}

.nf-3,
.react_infos,
.nf-5 {
    background-color: #fff;
}

.nf-5 {
    padding: 0 15px;
    padding-bottom: 15px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: none;
}
.com-text {
    word-break: break-all;
    font-size: 14px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
.react-count-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}
.add-comment {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.com-dot-option-wrap {
    margin-left: 1rem;
    color: rgb(167, 163, 163);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    width: 30px;
    height: 30px;
}
.com-dot-option-wrap:hover {
    background-color: #f0f2f5;
}
.com-like-action-text,
.com-reply-action {
    font-size: 12px;
    margin-left: 10px;
    color: #65676b;
}
.com-time {
    font-size: 12px;
    margin-left: 10px;
    color: #65676b;
}
.com-react {
    display: flex;
    align-items: center;
}
.com-input {
    margin-bottom: 1rem;
}
.com-option-details-container {
    position: absolute;
    top: 100%;
    left: -15rem;
    background-color: #fff;
    width: 300px;
    padding: 1rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    border-radius: 10px;
    display: none;
    z-index: 999999999999;
}
.com-dot-option-wrap {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    transform: translateX(6px);
}
.com-option-details ul li {
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
}
.com-option-details ul li:hover {
    background-color: #eee;
}
.com-option-details ul li:last-of-type {
    margin-bottom: 0;
}
.top-box-show {
    padding: 1.5rem 1rem 1rem 1rem;
    background: #fff;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    z-index: 99999999999999999999999999999999999999999999;
    position: fixed;
    top: 50%;
    border-radius: 30px;
}
.comment-dialog-show {
    display: flex;
    align-items: center;
    gap: 10px;
}
.profilePic img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%;
}
.close-box {
    position: absolute;
    right: 20px;
    top: 5px;
}
.editCom {
    outline: none;
    border: none;
    background: #ebedf2;
    padding: 10px 15px;
    border-radius: 5px;
}
.edit-com-save {
    background: #1b74e4;
    font-weight: 600;
    color: white;
    font-size: 14px;
    padding: 6px 10px;
    border-radius: 5px;
}
.share_text {
    width: 80%;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 16px;
    font-family: 'Segoe UI Historic', 'Segoe UI', Helvetica, Arial, sans-serif;
}

.search_results::after {
}
.search_ind {
    display: flex;
    gap: 11px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    color: #050505;
    font-weight: 600;
    line-height: 19px;
    background-color: #fff;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    padding: 5px;
    border-radius: 10px;
}
.left {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}
#shadow {
    background-color: #fff;
    height: 8px;
    width: 80px;
    z-index: 5;
    box-shadow: 0 8px 32px 0 rgba(111, 111, 111, 0.47);
    -webkit-font-smoothing: antialiased;
}
.arrowlogo {
    display: none;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.arrowlogo:hover {
    background-color: #f0f2f5;
}
.sugg_search {
    font-weight: lighter;
    font-size: 12px;
    color: #65676b;
    position: absolute;
    bottom: 5px;
    left: 18.5%;
}
.search_ind:hover {
    background-color: #e4e6eb;
}
.request_wrap {
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 10px;
}

.profile_add_friend {
    display: flex;
    background: #1b74e4;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
}
.profile_add_friend img {
    -webkit-filter: invert(100%);
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.profile_confirm_friend {
    display: flex;
    background: #1b74e4;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    width: 86px;
}
.confirm_wall {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background: #f7f8fa;
    color: #111;
    height: 70px;
    transform: translateY(-1rem);
    border-radius: 10px;
    margin-bottom: 10px;
}
.profile_confirm_friend1 {
    display: flex;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    gap: 15px;
}
.profile_confirm_friend img {
    -webkit-filter: invert(100%);
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
.confirm_request_popup {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 8px 32px 0 rgba(111, 111, 111, 0.47);
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    display: none;
    z-index: 9999;
}

.confirm_request_popup > div {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.confirm_request_popup > div:hover {
    background-color: #e4e6eb;
}
.send_req_text {
    font-weight: 600;
}
.send_req_text_confirm {
    display: flex;
    background: #1b74e4;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
}
.send_req_delete {
    display: flex;
    background: #e4e6eb;
    padding: 10px 15px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
}
@media (min-width: 967px) {
    .request_wrap {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    .confirm_request_popup {
        width: 250px;
    }
    .confirm_wall {
        display: flex;
    }
    .profile_pic_container {
    }
    .confirm_request_popup {
        position: absolute;
        left: -8rem;
    }
}
.friends_btn {
    display: flex;
    align-items: center;
    gap: 5px;
    background: #e4e6eb;
    padding: 10px 15px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    color: #222;
    cursor: pointer;
}
.cancel_request_btn {
    display: flex;
    gap: 5px;
    background: #1b74e4;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
}
.cancel_request_btn img {
    -webkit-filter: invert(100%);
}
.friends_popup {
    position: absolute;
    background-color: #fff;
    padding: 1rem;
    box-shadow: 0 8px 32px 0 rgba(111, 111, 111, 0.47);
    -webkit-font-smoothing: antialiased;
    border-radius: 10px;
    flex-direction: column;
    gap: 10px;
    font-weight: 600;
    font-size: 14px;
    z-index: 9999;
    width: 250px;
    left: -50%;
    top: 104%;
    display: none;
}
.friends_popup > div {
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.friends_popup > div:hover {
    background-color: #e4e6eb;
}
.unfriend_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yY/r/zV-ALry-68f.png');
    background-position: 0px -126px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
@media (min-width: 1100px) {
    .friends_popup {
        width: 310px;
    }
}
.follow_btn {
    display: flex;
    background: #1b74e4;
    padding: 10px 15px;
    color: white;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    gap: 5px;
    user-select: none;
}
.follow_btn img {
    -webkit-filter: invert(100%);
}
.unfollow_btn {
    display: flex;
    background: #e4e6eb;
    padding: 10px 12px;
    color: #222;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    gap: 5px;
    user-select: none;
}
.unfollow_btn img {
    -webkit-filter: invert(20%);
}
.active_border {
    border-bottom: 3px solid #1b74e4;
}
.emojioneemoji {
    width: 20px !important;
    height: 20px !important;
}
.comment_toolss {
    display: flex;
    align-items: center;
    transform: translateX(-30px);
    transform: translateY(-2px);
}
.m_tool {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m_tool:hover {
    background: #8d949e44;
}
.camera_m {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/Z7w1U7BBU5F.png');
    background-position: 0px -372px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(50%);
}
.comment-input textarea {
    font-size: 14px !important;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif !important;
    background: #f0f2f5 !important;
    border-radius: 10px !important;
    padding: 5px 0 !important;
    padding-left: 10px !important;
}
.m_gif {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/Z7w1U7BBU5F.png');
    background-position: 0px -440px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(50%);
}
.m_sticker {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yy/r/Z7w1U7BBU5F.png');
    background-position: 0px -457px;
    background-size: auto;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(50%);
}
.react_btn_wrapper {
    font-weight: 600;
}
.com .com-react-placeholder-wrap {
}
.com-text-react-wrap {
    position: relative;
}
.com-nf-3 {
    position: absolute;
    right: -1rem;
    bottom: 16px;

    background: #fff;
    border-radius: 20px;
    padding: 1px 4px;
    width: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #65676b;
    font-size: 13px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.react-inst-img img {
    width: 40px;
    height: 40px;
}
.comment-input {
    display: flex;
    align-items: center;
    background: #f0f2f5;
    border-radius: 20px;
    height: 40px;
    transform: translateY(0);
    position: relative;
}
.emojionearea.comment-input-style.comment-submit.emojionearea-inline {
    background: #f0f2f5 !important;
    font-size: 15px !important;
    border-radius: 20px !important;
    transform: translateY(-7px) !important;
    padding-top: 3px !important;
    color: #111 !important;
}
#comment-inputt {
    display: none;
}
.comment_img_preview {
    margin-top: 5px;
}
.comment_img_preview img {
    width: 100px;
    height: 100px;
}
.comment_img_plz {
    margin-top: 5px;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
    cursor: pointer;
}
.com-dot-option-wrap {
    position: absolute;
    right: -20%;
}
.com-pro-text {
}
.post-menu {
    background: #fff;
    width: 300px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.17);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 1.4rem;
    right: 0;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 19px;
    z-index: 9999999999999999999999999999999999999999999999999999999999999999999999999;
    display: none;
}
.pin_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/iCtGxmAgZRV.png');
    background-position: 0px -378px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.sav_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/iCtGxmAgZRV.png');
    background-position: 0px -63px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.emb_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/iCtGxmAgZRV.png');
    background-position: 0px -126px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.cpy_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/O06sxMMFJNq.png');
    background-position: 0px -568px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.ed_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/O06sxMMFJNq.png');
    background-position: 0px -610px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.nott_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/-Uq5Oi00TzU.png');
    background-position: 0px -138px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.tr_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/iCtGxmAgZRV.png');
    background-position: 0px -399px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.post-menu li {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.d_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yw/r/EbYRax5wr6l.png');
    background-position: 0px -67px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.ref_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yI/r/rKJFT8A5o8l.png');
    background-position: 0px 0px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.arch_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yA/r/iCtGxmAgZRV.png');
    background-position: 0px -84px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.tr_icon {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/y8/r/O06sxMMFJNq.png');
    background-position: 0px -799px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
}
.post-menu li:hover {
    background: #f0f2f5;
}
.li-a7a {
    display: flex;
    flex-direction: column;
}
.li-a7a .spanitto {
    font-size: 12px;
    color: #65676b;
}
.hrr {
    width: 100%;
    height: 1px;
    background: #ced0d4;
}
.save-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    width: 500px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
    display: flex;
    flex-direction: column;
    display: none;
}
.save_header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 24px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 1.6rem;
}
.s_close {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/uCJRJgNXt8r.png');
    background-position: -147px -107px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(40%);
}
.close_save {
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #e4e6eb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.close_save:hover {
    background: #bfbfc080;
}
.save_collections {
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 24px;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 0.3rem;
    display: flex;
    flex-direction: column;
}
.save_collections label {
    cursor: pointer;
    width: 96%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
}
.save_collections label:hover {
    background: #f2f3f5;
}
.save_collections input {
    width: 20px;
    height: 20px;
}
.col {
    display: flex;
    flex-direction: column;
}
.only_icon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yw/r/EbYRax5wr6l.png');
    background-position: 0px -601px;
    background-size: auto;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.plus_iccon {
    background-image: url('https://www.facebook.com/rsrc.php/v3/yY/r/aDlFLh3ubFJ.png');
    background-position: 0px -108px;
    background-size: auto;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    display: inline-block;
}
.plus_hh {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e4e6eb;
}
.add_coll {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.add_coll:hover {
    background: #f2f3f5;
}
.create_coll {
    padding: 10px;
    font-weight: 600;
    flex-direction: column;
    display: none;
}
.create_coll input {
    background: #f0f2f5;
    color: #8a8d91;
    width: 95%;
    height: 35px;
    font-weight: 500;
    border-radius: 5px;
    font-size: 15px;
    padding-left: 10px;
    border: 1px solid #ced0d4;
    outline: none;
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
    margin-top: 4px;
}
.create_coll input:focus {
    background: #fff;
    border-color: #1876f2;
    font-weight: 600;
    color: #111;
}
.create_coll input:hover {
    background: rgba(226, 223, 223, 0.397);
}
.coll_btns {
    align-self: flex-end;
    padding: 25px;
}
.coll_btns button {
    border: none;
    outline: none;
    font-weight: 600;
}
.coll_btns button:first-of-type {
    color: #1877f2;
    background: transparent;
    border-radius: 10px;
    padding: 12px 15px;
    margin-right: 10px;
    cursor: pointer;
}
.coll_btns button:first-of-type:hover {
    background: #e4e6eb;
}
.coll_btns button:last-of-type {
    background: #e4e6eb;
    color: #bcc0c4;
    border-radius: 10px;
    padding: 12px;
    cursor: not-allowed;
}
.c_collections {
    max-height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
}
.done_save {
    border: none;
    outline: none;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 12px 40px;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
    font-weight: 600;
    background: #1b74e4;
}
.col_err {
    color: red;
    margin-left: 10px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
/*-----------------------------GRID IMAGES----------------*/

.grid_2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background: #fff;
    gap: 2px;
}
.grid_2 img:first-of-type {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    height: 610px;
    object-fit: cover;
}
.grid_2 img:last-of-type {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    height: 610px;
    object-fit: cover;
}
.grid_3 {
    width: 100%;
    display: grid;
    grid-template-columns: 1.4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #fff;
    gap: 2px;
}
.grid_3 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_3 .img-0 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 610px;
    object-fit: cover;
}
.grid_3 .img-1 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
}
.grid_3 .img-2 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
}
.grid_4 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background: #fff;
    gap: 2px;
}
.grid_4 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_4 .img-0 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
}
.grid_4 .img-1 {
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
}
.grid_4 .img-2 {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
}
.grid_4 .img-3 {
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
}
.grid_5 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    background: #fff;
    gap: 2px;
}
.grid_5 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid_5 .img-0 {
    width: 100%;
    grid-column: auto / span 3;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
}
.grid_5 .img-1 {
    width: 100%;
    grid-column: auto / span 3;

    grid-row-start: 1;
    grid-row-end: 2;
    height: 305px;
    object-fit: cover;
}
.grid_5 .img-2 {
    width: 100%;
    grid-column: auto / span 2;

    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
}
.grid_5 .img-3 {
    width: 100%;
    grid-column: auto / span 2;

    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
}
.grid_5 .img-4 {
    width: 100%;
    grid-column: auto / span 3;
    grid-row-start: 2;
    grid-row-end: 3;
    height: 305px;
    object-fit: cover;
}
.grid_1 img {
    width: 100%;
    height: 610px;
    object-fit: cover;
}
.grid_1 {
    background: #111;
    display: flex;
    height: 610px;
    justify-content: center;
}
.more-pics-shadow {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 305px;
    width: 33.33%;
    background: #94949454;
    font-size: 32px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    cursor: pointer;
}
.comment-share-count:hover {
    text-decoration: underline;
    cursor: pointer;
}
.show_more_com {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.show_more_com a {
    color: #65676b;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.notifications {
    position: absolute;
    right: -2.9rem;
    margin-top: 5px;
    width: 350px;
    max-height: 90vh;
    overflow-y: auto;
    background: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 15px 10px;
    border-radius: 10px;
    display: none;
    user-select: none;
}
.not_poin {
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yK/r/uCJRJgNXt8r.png');
    background-position: -168px -107px;
    background-size: auto;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    display: inline-block;
    -webkit-filter: invert(30%);
}
.not_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.notifications > * {
    font-family: 'Segoe UI', Helvetica, Arial, sans-serif;
}
.not_header span {
    font-size: 24px;
    font-weight: 700;
}
.notic_p {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
}
.notic_p:hover {
    background-color: #e4e6eb;
}
.notification {
}
.notifications ul {
    padding: 0;
}
.notification {
    display: flex;
    padding: 10px 5px;
    border-radius: 10px;
    cursor: pointer;
}
.notification:hover {
    background-color: #e4e6eb88;
}
.not_image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.not_image .GreyImg {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
}
.not_image .sec_img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    bottom: -8px;
    right: -8px;
}
.not_infos {
    margin-left: 12px;
}
.not_who {
    word-break: normal;
    width: 95%;
    font-weight: normal;
    font-size: 14px;
}
.not_who span {
    color: #050505;
    font-weight: 600;
    font-size: 14px;
}
.not_time {
    color: #1876f2;
    font-size: 12px;
}
.not_dot {
    width: 12px;
    height: 9px;
    border-radius: 50%;
    background: #1876f2;
    justify-self: center;
    align-self: center;
    margin-left: 20px;
}
.not_numbr {
    position: absolute;
    right: 0;
    top: -5px;
    font-size: 14px;
    background: #e41e3f;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.req_iconn {
    height: 28px;
    width: 28px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yL/r/h2iqxBqDts0.png');
    background-position: 0px -783px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: 1.4rem;
    right: -8px;
}
.req_iconn1 {
    height: 28px;
    width: 28px;
    background-image: url('https://www.facebook.com/rsrc.php/v3/yL/r/h2iqxBqDts0.png');
    background-position: 0px -783px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: -8px;
    right: -8px;
}
.not_requesto {
    padding: 1rem 10px;
}
.not_requesto button {
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.not_requesto button:first-of-type {
    margin-right: 5px;
    background: #1877f2;
    color: #fff;
}
.not_requesto button:last-of-type {
    margin-right: 5px;
    background: #e4e6eb;
    color: #000;
}
.mention_someone {
    padding: 0;
    position: absolute;
    top: 15px;
    z-index: 9999999999;
}
.a7a_mention {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background: #eee;
    border-radius: 5px;
    cursor: pointer;
    width: 250px;
}
.a7a_mention img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}
.mention_name {
    font-weight: 600;
    font-size: 14px;
}
.mention_link {
    color: #1876f2;
}
.tag1_icon {
    height: 28px;
    width: 28px;
    background-image: url('https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/h2iqxBqDts0.png');
    background-position: 0px -696px;
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    position: absolute;
    bottom: -8px;
    right: -8px;
}
